.spots{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.spots-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 10px;
}

.view-container{
    border: 2px solid lightsalmon;
    border-radius: 5px;
    padding: 5px;
}

